{% set journalbeat = salt['grains.filter_by']({
    'Debian': {
        'binary': 'https://github.com/mheese/journalbeat/releases/download/v5.6.9/journalbeat',
        'hash': 'e1b96dc988270624ecfc6cbe590f9890'
    },
    'RedHat': {
        'binary': 'https://github.com/mheese/journalbeat/releases/download/v5.6.9/journalbeat',
        'hash': 'e1b96dc988270624ecfc6cbe590f9890'
    },
},
merge=salt['pillar.get']('beats.community.journalbeat:config', {}),
default='default')
%}
