beats:
    version: 6
    use_upstream_repo: True
    filebeat:
        config:
            filebeat.prospectors:
                - input_type: log
                  paths:
                    - /var/log/*.log
            output.elasticsearch:
                hosts: ["localhost:9200"]
            logging.to_files: true
            logging.files:
                path: /var/log/filebeat
                name: filebeat
                rotateeverybytes: 10485760
                keepfiles: 7
    metricbeat:
        config:
            cbeat.config.modules:
                path: ${path.config}/conf.d/*.yml
                reload.period: 10s
                reload.enabled: false
            metricbeat.modules:
                - module: system
                  metricsets:
                    - cpu
                    - load
                    - filesystem
                    - fsstat
                    - memory
                    - network
                    - process
                  enabled: true
                  period: 10s
                  processes: ['.*']
            output.elasticsearch:
                hosts: ["localhost:9200"]
            logging.to_files: true
            logging.files:
                path: /var/log/metricbeat
                name: metricbeat
                rotateeverybytes: 10485760
                keepfiles: 7
    auditbeat:
        config:
          auditbeat.modules:
            - module: audit
              metricsets: [file]
              file.paths:
                - /bin
                - /usr/bin
                - /sbin
                - /usr/sbin
                - /etc
          output.logstash:
            hosts: ["localhost:9200"]
            logging.to_files: false
    packetbeat:
        config:
            packetbeat.interfaces.device: any
            packetbeat.flows:
              timeout: 30s
              period: 10s
            packetbeat.protocols.icmp:
              enabled: true
            packetbeat.protocols.amqp:
              ports: [5672]
            packetbeat.protocols.cassandra:
              ports: [9042]
            packetbeat.protocols.dns:
              ports: [53]
              include_authorities: true
              include_additionals: true
            packetbeat.protocols.http:
              ports: [80, 8080, 8000, 5000, 8002, 8443, 443]
            packetbeat.protocols.memcache:
              ports: [11211]
            packetbeat.protocols.mysql:
              ports: [3306]
            packetbeat.protocols.pgsql:
              ports: [5432]
            packetbeat.protocols.redis:
              ports: [6379]
            packetbeat.protocols.thrift:
              ports: [9090]
            packetbeat.protocols.mongodb:
              ports: [27017]
            packetbeat.protocols.nfs:
              ports: [2049]
            output.logstash:
              hosts: ["localhost:9200"]
            logging.to_files: false
    community:
      journalbeat:
        config:
          journalbeat:
            write_cursor_state: true
            cursor_state_file: .journalbeat-cursor-state
            cursor_flush_period: 5s
            pending_queue.file: .journalbeat-pending-queue
            pending_queue.flush_period: 1s
            pending_queue.completed_queue_size: 8192
            clean_field_names: true
            convert_to_numbers: false
            units: ["httpd.service"] # can also be ["*.service"]
            default_type: journal
          max_procs: 2
          queue_size: 1000
          name: journalbeat
          fields_under_root: true
          fields:
            env: live
          processors:
          - drop_event:
              when:
                equals:
                  unit.name: "mysql.service"
          output.logstash:
            hosts: ["localhost:9200"]
            logging.to_files: false
